.home-page-about {
    width: 100%;
    display: grid;
    justify-items: center;
    /* grid-template-rows:  */
}

.home-page-about-head {
    margin-bottom: 30px;
    font-size: 22px;
}

.home-page-about-content p{
    margin-bottom: 15px;
    font-size: 18px;
    text-align: justify;
}

.home-page-about-daily {
    margin: 20px;
    display: grid;
    grid-template-rows: 10% 90%;
    border: 1px solid red;
}

.home-page-about-daily-head {
    background-color: red;
    min-height: 100%;
}
