.gallery-container {
    position: relative;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}
.gallery-text {
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 40px;
}
