.video-modal-show {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.video-container {
    width: 69%;
    position: relative;
    padding-bottom: 48%;
    padding-top: 25px;
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 12.5%;
    left: 0;
    width: 100%;
    height: 78%;
}
