.photographers-list {
    width: 100%;
    margin-top: 20px;
}

.photographer-link {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.photographer-link:last-child {
    margin-bottom: 0px;
}

.photographer-link > a {
    display: block;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    color: #ecf5ed;
    background: #5a9d2d;
    width: 80%;
    text-align: start;
}

.photographer-link:hover a {
    background: #003100;
    color: #fff;
}

.photographer-link:active {
    transform: translateY(1px);
}
