.general-info-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.photographer-life-years,
.photographer-about,
.photographer-name {
    display: flex;
    justify-content: center;
    text-align: center;
}

.photographer-name {
    font-size: 40px;
    margin-bottom: 30px;
}

.photographer-life-years {
    margin-bottom: 15px;
    font-size: 30px;
}

.photographer-about {
    font-size: 22px;
}
