.google-map-container {
    width: 100%;
    height: 45vh;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.google-map-container p {
    text-align: justify;
}

.google-map {
    height: 100%;
    width: 80%;
    border: 2px solid black;
    background: transparent url(/googleMap/831.gif) no-repeat center center;
}
.google-life {
    margin-bottom: 15px;
    font-size: 22px;
}
