.team_container {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #003100;
}

.teamCard_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 5px auto;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.team_container h2 {
    text-align: center;
    line-height: 40px;
}

.teamCard {
    margin: 10px 5px;
    width: 125px;
    height: 250px;
    padding: 5px;
    border: 1px solid #003100;
    background: #d0e1ca;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.teamCard_photo {
    width: 100px;
    height: 100%;
    overflow: hidden;
    transform: rotate(-60deg);
}

.teamCard_photo_layer1 {
    margin-top: 3px;
    overflow: hidden;
    transform: rotate(120deg);
    width: 100px;
    height: 130px;
}

.teamCard_photo_layer2 {
    transform: rotate(-60deg);
    overflow: hidden;
    width: 100px;
    height: 100%;
}

.teamCard_github {
    font-size: 36px;
    text-align: center;
    color: #003100;
}

.teamCard_name {
    height: 40px;
}

.teamCard_github i {
    color: #003100;
}

.teamCard_github i:hover {
    color: rgb(72, 72, 216);
}

.teamCard_workDone {
    position: absolute;
    top: -25%;
    left: 10%;
    right: 0;
    width: 100px;
    padding: 20px;
    background: #d0e1ca;
    border: 1px solid #003100;
    border-radius: 10px;
    z-index: 10;
}

@media (max-width: 850px) {
    .teamCard {
        width: 250px;
    }

    .teamCard_photo_layer1 {
        left: 76px;
    }
}
