.home-page-about-content p{
    margin-bottom: 15px;
    font-size: 18px;
    text-align: justify;
    line-height: 1.5
}

.home-page-about-content #test {
    font-weight: '600';
}

@media (max-width: 1200px) {

    .home-page-about-content p{
        margin: 0 10px 15px;
    }

    .home-page-about-content #test {
        font-weight: '600';
    }
}
