.navigation-container {
    margin-top: 30px;
}

.navigation {
    display: flex;
}

.navigation-link {
    margin-right: 60px;
    width: 200px;
}

.navigation-link:last-child {
    margin-right: 0px;
}

.navigation-link > a {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    color: #000;
}

.navigation-link:hover a {
    background: rgb(164, 164, 233);
    color: #fff;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1);
}

.navigation-link:active {
    transform: translateY(1px);
}

@media(max-width: 500px) {
    .navigation-link {
        margin-right: 30px;
    }

    .navigation-link:last-child {
        margin-left: 30px;
    }
}
